
 h1{
	font-family: "Lucida Console", Monaco, monospace;
	color: white; 
	font-size: 40px; 
	/*top, right, bottom, left */
	margin: 10px 20px 35px 50px;
	 
 }
 
 h2{
	font-family: "Lucida Console", Monaco, monospace;
	color: red; 
	font-size: 25px;
	margin: 10px 50px 15px 50px;
 }
 
  h3{
	font-family: "Lucida Console", Monaco, monospace;
	color: gray; 
	font-size: 20px;
	margin: 10px 50px 15px 75px;
 }
 
  p{
	font-family: 'Oswald', sans-serif;
	color: white; 
	font-size: 20px;
	margin: 0px 150px 15px 100px;
	line-height: 30px;	
 }
